In [11]:
import os
import pandas as pd

In [12]:
dir_str = "../movieqa/questions/wiki_entities/entities"
directory = os.fsencode(dir_str)

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    filepath = dir_str + "/" + filename
    
    rawInput = open(filepath, 'r')
    lines = []    
    actual = rawInput.readline()
    while actual != "":
        lines.append(actual.rstrip('\n'))
        actual = rawInput.readline()
    
    # Create the data dict to generate the dataframe
    data = { "question": [], "entities": [] }
    for line in lines:
        question, entities = line.split("\t")
        data["question"].append(str(question))
        data["entities"].append(eval(entities))
    
    # Get the entity name from the filename
    entity_name = filename.split("_")[2]
    
    for i in range(len(data["entities"])):
        tokens = data["entities"][i]
        isBegin = True
        for j in range(len(tokens)):
            token = tokens[j]
            if token[0].isupper() or (token[0].isnumeric() and token[0] != '0') or (entity_name == "tag" and token != "movies" and token != '0'): # Transform the tokens in .txt's into the entity tokens
                if (token[0].isnumeric() and token[0] != '0'): print(token)
                if isBegin:
                    tokens[j] = "B-" + entity_name
                    isBegin = False
                else:
                    tokens[j] = "I-" + entity_name
            elif token[0].islower(): # Remove other enitities
                tokens[j] = '0'


    df = pd.DataFrame(data)
    df.to_csv("./datasets/" + filename[:-4] + ".csv", index_label=False, index=False)

20,000 Leagues Under the Sea
20,000 Leagues Under the Sea
20,000 Leagues Under the Sea
20,000 Leagues Under the Sea
20,000 Leagues Under the Sea
20,000 Leagues Under the Sea
13
13 Going on 30
13 Going on 30
13 Going on 30
13
13 Rue Madeleine
10
10 Things I Hate About You
10 Things I Hate About You
10 Things I Hate About You
10 Things I Hate About You
10 Things I Hate About You
2
2 Fast 2 Furious
2
2 Fast 2 Furious
100 Rifles
100 Rifles
1
10
8½
51
2
2
16 to Life
16 to Life
3
88 Minutes
88 Minutes
2
2
3
3 Idiots
13
2-Headed Shark Attack
2-Headed Shark Attack
1900
20,000 Leagues Under the Sea
20,000 Leagues Under the Sea
20,000 Leagues Under the Sea
20,000 Leagues Under the Sea
20,000 Leagues Under the Sea
20,000 Leagues Under the Sea
2
100 Feet
100 Feet
16 Years of Alcohol
16 Years of Alcohol
16 Years of Alcohol
16 Years of Alcohol
1984
9
2000
9
3
102 Dalmatians
102 Dalmatians
3
2
8 Mile
8 Mile
1929
1935
2
1408
4
3
3
3 Strikes
12
2
31 North 62 East
31 North 62 East
31 North 62 East
2
2
21
21 Jump Street
21 Jump Street
4
2
2
12
12 Years a Slave
12 Years a Slave
12 Years a Slave
1918
360
2000
12
13
13 Ghosts
16 to Life
16 to Life
99 Homes
99 Homes
9
12
12 Dates of Christmas
12 Dates of Christmas
12 Dates of Christmas
13
13 Tzameti
2
1984
2
2
3
3 Godfathers
2
3
12
12 Angry Men
12 Angry Men
48 Shades
48 Shades
10
10
10 MPH
2-Headed Shark Attack
2-Headed Shark Attack
40 Guns to Apache Pass
40 Guns to Apache Pass
40 Guns to Apache Pass
40 Guns to Apache Pass
99 Homes
99 Homes
360
2000
2
3
96 Minutes
96 Minutes
13
2
2
2 Days in Paris
2 Days in Paris
4
3
700 Sundays
700 Sundays
711 Ocean Drive
711 Ocean Drive
2
21
9
2
2
2
2
2 Days in New York
2 Days in New York
2 Days in New York
2 Days in New York
2
2
1918
54
120
7 Days in Havana
7 Days in Havana
7 Days in Havana
9/11
3
99 Homes
99 Homes
21
21 Jump Street
21 Jump Street
2
71 Fragments of a Chronology of Chance
71 Fragments of a Chronology of Chance
71 Fragments of a Chronology of Chance
71 Fragments of a Chronology of Chance
71 Fragments of a Chronology of Chance
71 Fragments of a Chronology of Chance
1937
1
24 Hour Party People
24 Hour Party People
24 Hour Party People
24 Hour Party People
800 Bullets
800 Bullets
8 Heads in a Duffel Bag
8 Heads in a Duffel Bag
8 Heads in a Duffel Bag
8 Heads in a Duffel Bag
8 Heads in a Duffel Bag
8 Heads in a Duffel Bag
3
3 Days to Kill
3 Days to Kill
3 Days to Kill
52 Pick-Up
52 Pick-Up
3
15th century
15th century
4
9/11
1920s
12th century
12th century
60s
13
13 Tzameti
21
10
10 Minutes
2
5 Centimeters Per Second
5 Centimeters Per Second
5 Centimeters Per Second
5 Centimeters Per Second
12
71 Fragments of a Chronology of Chance
71 Fragments of a Chronology of Chance
71 Fragments of a Chronology of Chance
71 Fragments of a Chronology of Chance
71 Fragments of a Chronology of Chance
71 Fragments of a Chronology of Chance
7 Boxes
7 Boxes
4
8½
2
1933
711 Ocean Drive
711 Ocean Drive
1940
3
2
3000 Miles to Graceland
3000 Miles to Graceland
3000 Miles to Graceland
3000 Miles to Graceland
2
25 Watts
25 Watts
20,000 Days on Earth
20,000 Days on Earth
20,000 Days on Earth
12
12 O'Clock Boys
1935
976-EVIL
7 Days
7 Days
2
100 Feet
100 Feet
40 Pounds of Trouble
40 Pounds of Trouble
40 Pounds of Trouble
40 Pounds of Trouble
20 Million Miles to Earth
20 Million Miles to Earth
20 Million Miles to Earth
20 Million Miles to Earth
1
28 Days
28 Days
2012
2
51
11 Harrowhouse
11 Harrowhouse
2
3

Concat the .csv's and generate the final .csv

In [13]:
dir_str = "./datasets/"
directory = os.fsencode(dir_str)

dfs = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    filepath = dir_str + "/" + filename
    
    df = pd.read_csv(filepath)
    dfs.append(df)
        
dataset = pd.concat(dfs)
# dataset = dataset.drop(columns=["Unnamed: 0"])
dataset.to_csv("./datasets/entities.csv", index_label=False, index=False)

In [9]:
dataset.head()

,question,entities
0,who's the writer of Experiment Perilous,"['0', '0', '0', '0', 'B-movie', 'I-movie']"
1,who's the writer of Games,"['0', '0', '0', '0', 'B-movie']"
2,which person wrote The Wolf Man,"['0', '0', '0', 'B-movie', 'I-movie', 'I-movie']"
3,who is the writer of the film Sweet Charity,"['0', '0', '0', '0', '0', '0', '0', 'B-movie',..."
4,who was the writer of Extract,"['0', '0', '0', '0', '0', 'B-movie']"